---
layout: default
---

<div class="home">
  You can checkout my <a href="blog">blog</a>:

  {%- if site.posts.size > 0 -%}
  <ul class="post-list-horizontal">
      {%- for post in site.posts limit:3 -%}
      <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
          </a>
      </h3>
      {%- if site.show_excerpts -%}
          {{ post.excerpt }}
      {%- endif -%}
      </li>
      {%- endfor -%}
  </ul>
  {%- endif -%}
  {{ content }}

<a rel="me" href="https://mastodon.social/@CMurtagh" style="visibility:hidden;height:0;display:inline-block;">Mastodon</a>

</div>
